@model WebApplication.Models.CompetitionViewModel

@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8" />

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>Judge.IO - View Competition</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <h4 class="PageTitle">View Competition Details</h4>
    <hr />
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("CompetitionID")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="JudgeID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("JudgeID")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AreaInterest" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("Area of Interest")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("Competition Name")
            </div>
            <div class="form-group row">
                <label asp-for="StartDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("Start Date")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EndDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("End Date")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ResultReleasedDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("Result Release Date")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="JudgeName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("Judges")
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <a asp-action="Edit" asp-controller="Competition"
                       asp-route-id="@Model.CompetitionID">Edit</a> |
                    <a asp-action="Index"
                       asp-controller="Competition">Back to List</a>
                </div>
            </div>
</fieldset>
</body>
</html>
