@model WebApplication.Models.CompetitionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Competition</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <input asp-for="AreaInterestID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
            <div class="form-group">
                <label asp-for="ResultReleasedDate" class="control-label"></label>
                <input asp-for="ResultReleasedDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.ResultReleasedDate)
            </div>
            <div class="form-group">
                @Html.Raw(ViewData["ButtonState"])
            </div>
            <span style="color:green;">@TempData["SuccessMessage"]</span>
            <span style="color:red;">@TempData["ErrorMessage"]</span>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="AreaInterest">Back to List</a>
</div>

