@model WebApplication.Models.CompetitionSubmissionViewModel

@{
    ViewData["Title"] = "SubmitAppeal";
}

<h4 class="PageTitle">Submit Appeal for @Model.CompetitonName</h4>
<hr />
<form asp-action="SubmitAppeal">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitonName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitonName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Appeal"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <textarea asp-for="Appeal" rows="8" cols="50">
                </textarea>
                <span asp-validation-for="Appeal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                @Html.Raw(@ViewData["SubmitAppealBtn"])
                <span style="color:red;">@TempData["ErrorAppealMessage"]</span>
                <span style="color:green;">@TempData["Message"]</span>
            </div>
        </div>
        <div>
            <a asp-action="ViewJoinedCompetitions">Back to list of joined competitions</a>
        </div>
    </fieldset>
</form>
